name: Nuget

on:
  push:
    tags:
      - 'v*'

env:
  PACKAGE_OUTPUT: ${{ github.workspace }}/package
  NUGET_URL: https://api.nuget.org/v3/index.json

jobs:
  deploy:
    name: Deploy
    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: | 
          6.0.x

    - uses: nuget/setup-nuget@v1
    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Get Version
      id: version
      uses: battila7/get-version-action@v2

    - name: Package CallAutomation.Contracts Project
      run: nuget pack src/ -Prop Configuration=Release -Version ${{ steps.version.outputs.version-without-v }} -IncludeReferencedProjects -OutputDirectory ${{ env.PACKAGE_OUTPUT }}

    - name: Publish Packages
      run: dotnet nuget push ${{ env.PACKAGE_OUTPUT }}/*.nupkg -k ${{ secrets.NUGET_KEY }} -s ${{ env.NUGET_URL }} --skip-duplicate